<div class="footer-content-1">
  <div class="inner-content">
   <h5>Hubungi Kami</h5>
   <p class="no-margin-bottom">
   <strong>Hasanah Consulting Group</strong><br>
   Jalan Mahakam Raya 19A<br>
   Bengkulu, BKS 38225<br>
   <strong>Phone:</strong> <a class="text-underline" href="tel:+6282233043298">+62 822 3304 3298</a><br><span class="overflow">
   <strong>Email:</strong> <a class="text-underline" href="mailto:consult@hasanah-consulting.com">consult@hasanah-consulting.com</a></span>
   </p>
   
  </div>
 </div>
 
 <hr class="divider">
 
 <div class="footer-content-2">
  <div class="inner-content">
   <h5>Layanan Bantuan IT Data Center</h5>
   <p>Layangkan Pertanyaan Anda kepada Kami. Tim IT Data Center Kami akan Membantu Anda.</p>
   <form action="http://bombdiggitydesign.com/wrap-n-roll/sidewaze/yourscript.php" method="post">
    <div class="input-group input-group-sm footer-signup">
     <input class="form-control" placeholder="Bagaimana hasil tabulasi suara?" type="text">
     <span class="input-group-btn">
     <button type="submit" class="btn btn-primary">Tanyakan</button>
     </span> 
    </div>
   </form>
  </div>
 </div>
 
 <hr class="divider">
 
 <div class="footer-content-3">
  <div class="inner-content">
   <h5>Gambar Kegiatan Terbaru</h5>
    <div class="img-widget clearfix">
        <a href="#"><img src="middle/assets/demo-images/florence-341469_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/frankfurt-285607_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/home-22527_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/milwaukee-art-museum-3984_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/reichstag-366201_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/stairs-8443_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/stairs-63747_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/stairs-113610_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/us-capitol-325341_150.jpg" alt="" /></a>
        <a href="#"><img src="middle/assets/demo-images/vaulted-cellar-247391_150.jpg" alt="" /></a>
    </div>
  </div>
 </div>
 
 <hr class="divider">
 <div class="footer-content-4">
  <div class="inner-content">
   <h5>Kabar Kampanye Terbaru</h5>
   <ul class="article-list"> 
    <li><a href="#">We will amplify our power to benchmark</a></li>
    <li><a href="#">We have revolutionized the conceptualization of structuring</a></li>
    <li><a href="#">Everything is relative; relatively speaking.</a></li>
    <li><a href="#">My other body is an immortal robot body.</a></li>
    <li><a href="#">I don't know who they are but they're right behind you</a></li>
    <li><a href="#">For those about to rock, we salute you </a> </li>
   </ul>
  </div>
 </div>
 
 <hr class="divider">
 <div class="inner-content copyright">
   <p class="small">© Copyright 2014 Hasanah Consulting Group. All rights reserved.</p>
 </div> 