<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div class="modal-body">
  <div class="row">
	 <div class="col-sm-6 col-ms-6">
		<h4 class="title">Social Login</h4>
		<ul class="list-unstyled social-user">
		   <li><a href="#" title="Login with Facebook" class="facebook"><i class="fa fa-facebook"></i><span>Login with Facebook</span></a></li>
		   <li><a href="#" title="Login with Google Plus" class="google"><i class="fa fa-google-plus"></i><span>Login with Google</span></a></li>
	       <li><a href="#" title="Login with Twitter" class="twitter"><i class="fa fa-twitter"></i><span>Login with Twitter</span></a></li>
	       <li><a href="#" title="Login with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i><span>Login with Wordpress</span></a></li>
	    </ul>
	 </div>
	 <div class="col-sm-6 col-ms-6">
		<h4 class="title">Sign In</h4>
		<form role="form" action="http://bombdiggitydesign.com/wrap-n-roll/sidewaze/your-login-script-goes-here.php">
		   <div class="form-group">
		      <input type="email" class="form-control" placeholder="Enter email">
		   </div>
		   <div class="form-group">
		      <input type="password" class="form-control" placeholder="Password">
		   </div>
		   <div class="form-group checkbox small">
		      <label>
		      <input type="checkbox">
		       Remember Me </label>
		   </div>
		   <p class="text-center">
		      <button class="btn btn-default btn-custom" type="submit"><i class="fa fa-lock"></i> Sign in</button>
		   </p>
		</form>
	 </div>
   
  </div> 
  <p class="text-center"><a class="text-underline" href="your-link-here.html">Forgot your password?</a><br>
  Don't have an account yet? <a class="text-underline" href="#signup-modal" data-toggle="modal" data-dismiss="modal">Sign up</a> </p>
</div>