  <nav id="nav" class="clearfix" role="navigation">
 
  <div class="user-wrapper">
   <p>
   	<a href="#login-modal" data-toggle="modal" class="toggle-login"> <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</a> <span class="v-divider"></span> 
   	<a href="#signup-modal" data-toggle="modal" class="toggle-signup"> <i class="fa fa-pencil"></i>&nbsp;&nbsp;Sign Up</a>
   </p>
  </div>

  <ul class="primary-nav">   
	   <%= render 'layouts/navigation_links' %>
  </ul>
</nav>
